<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-N4DTNHJP');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="img/Favicon-CRODAY2024.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/tyc.css">
    <title>CRODAY El evento para subir conversiones en Ecommerce</title>
</head>
<body>
    <header>
        <a href="../index.html">
        <img src="../img/Banner_desktop.png" alt="banner CRODAY" class="bannerDesktop">
        <img src="../img/Banner_mobile.jpg" alt="banner CRODAY" class="bannerMobile">
        </a>  
    </header>
    <main>
        <h1>Política de Privacidad para los Suscriptos al CRODAY</h1>
    <ol>
        <br>
        <li><b>Acceso al Evento:</b><br><p>Los inscriptos al CRODAY podrán acceder al evento completando el formulario de suscripción. La inscripción implica la aceptación de esta política de privacidad. </p></li>
        <br>
        <li><b>Uso de Datos Personales:</b><br><p>Los emails de los suscriptos podrán ser compartidos con las empresas organizadoras que figuran como sponsors del evento.</p></li>
        <br>
        <li><b>Derecho de Permanencia:</b><br><p>La organización se reserva el derecho de admisión y permanencia durante el evento, en adelante denominado “webinar</p></li>
        <br>
        <li><b>Participación en el Chat:</b><br><p>Los participantes podrán usar el chat del evento para compartir comentarios y realizar consultas a los oradores. No se permitirá la publicación de contenido ofensivo, discriminatorio o inapropiado.</p></li>
        <br>
        <li><b>Propiedad Intelectual:</b><br><p>Todo el contenido compartido durante el evento, ya sea por los organizadores o los oradores, es propiedad intelectual exclusiva del CRODAY y sus oradores. Está prohibida la reproducción o distribución del contenido fuera de las redes oficiales del CRODAY.</p></li>
        <br>
        <li><b>Contacto Posterior:</b><br><p>La organización del evento y las empresas sponsors podrán contactar a los suscriptos para ofrecer consejos de CRO, compartir contenido relevante o presentar oportunidades comerciales.</p></li>
        <br>
        <li><b>Jurisdicción:</b><br><p>Estos términos están sujetos a la jurisdicción de los tribunales de la Ciudad de Buenos Aires, Argentina.</p></li>
        <br>
        <span>Al registrarse, los participantes aceptan estos términos y condiciones.</span>
    </ol>
    
    </main>
    <footer>
        <img src="../img/Logos/EcommerceLab.Agency logo.png" alt="logo EcommerceLab Agency">
        <img src="../img/Logos/GoJiraf_Logo.png" alt="Logo GoJiraf">
        <img src="../img/Logos/Posittion_logo.png" alt="Logo Position">
        <img src="../img/Logos/Saires_Logo.png" alt="Logo Saires">
        <img src="../img/Logos/Shopify_Logo.png" alt="Logo Shopify">
        <img src="../img/Logos/The_Strategist_Logo.png" alt="Logo The Strategist">
        <img src="../img/Logos/VWO_Logo.png" alt="Logo VWO">
        <img src="../img/Logos/WoowUp_Logo.png" alt="Logo WoowUp">
    </footer>
    
</body>
</html>